{% extends 'base.html' %}

{% block title %}
About
{% endblock title %}

{% block body %}

<div class="container"><h3 class="text-primary text-uppercase display-3 text-center">About Us</h3></div>
<div class="container-fluid p-5">
    <div class="mb-5 text-center">
      <h5 class="text-primary text-uppercase">The Team</h5>
      <h1 class="display-3 text-uppercase md-5">Expert Trainers</h1>
    </div>
    <div class="row g-5" style="min-height:300px;">
      <div class="col-lg-4 col-md-6">
        <div class="team-item position-relative">
          <div class="position-relative overflow-hidden rounded"><img class="img-fluid w-100" src="https://source.unsplash.com/qkQwDvRqQY8" alt="website template image" class="position-absolute w-100 h-100 rounded" style="object-fit:cover;  width: 300px; height: 500px;">
            <div class="team-overlay">
              <div class="d-flex align-items-center justify-content-start"><a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.free-css.com/free-css-templates"><i class="fab fa-twitter"></i></a> <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.free-css.com/free-css-templates"><i class="fab fa-facebook-f"></i></a> <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.free-css.com/free-css-templates"><i class="fab fa-linkedin-in"></i></a></div>
            </div>
          </div>
          <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background:rgba(34,36,41,.9);">
            <h5 class="text-uppercase text-light">rajas mulik</h5>
            <p class="text-uppercase text-secondary m-0">Trainer/Dietician</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team-item position-relative">
          <div class="position-relative overflow-hidden rounded "><img class="img-fluid w-100" src="https://source.unsplash.com/opxOfzge2Tg" alt="website template image" class="position-absolute w-100 h-100 rounded" style="object-fit:cover; width: 300px; height: 500px;">
            <div class="team-overlay">
              <div class="d-flex align-items-center justify-content-start"><a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.free-css.com/free-css-templates"><i class="fab fa-twitter"></i></a> <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.free-css.com/free-css-templates"><i class="fab fa-facebook-f"></i></a> <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.free-css.com/free-css-templates"><i class="fab fa-linkedin-in"></i></a></div>
            </div>
          </div>
          <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background:rgba(34,36,41,.9);">
            <h5 class="text-uppercase text-light">Andrea Shawa </h5>
            <p class="text-uppercase text-secondary m-0">Trainer/Dietician</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="team-item position-relative">
          <div class="position-relative overflow-hidden rounded"><img class="img-fluid w-100" src="https://source.unsplash.com/iUzgePOoGko" alt="website template image" class="position-absolute w-100 h-100 rounded" style="object-fit:cover;  width: 300px; height: 500px;">
            <div class="team-overlay">
              <div class="d-flex align-items-center justify-content-start"><a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.free-css.com/free-css-templates"><i class="fab fa-twitter"></i></a> <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.free-css.com/free-css-templates"><i class="fab fa-facebook-f"></i></a> <a class="btn btn-light btn-square rounded-circle mx-1" href="https://www.free-css.com/free-css-templates"><i class="fab fa-linkedin-in"></i></a></div>
            </div>
          </div>
          <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4" style="background:rgba(34,36,41,.9);">
            <h5 class="text-uppercase text-light">aniket patil</h5>
            <p class="text-uppercase text-secondary m-0">Trainer/Dietician</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5 gb-5 mt-2" style="background-color: #60a3bc;">
    <div class="col-lg-4 col-md-6">
      <div class="bg-light rounded text-center p-5">
        <i class="flaticon-six-pack display-1 text-primary"></i>
        
        <h3 class="text-uppercase my-4">Body Building</h3>
        <p>If you’re just beginning with bodybuilding, then you have to have a basic plan. Take a look at your body and focus on what you really need to do to it.</p>
        <a class="text-uppercase"  href="/getplans">Read More <i class="bi bi-arrow-right"></i></a></div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="bg-light rounded text-center p-5"><i class="flaticon-barbell display-1 text-primary"></i>
        <h3 class="text-uppercase my-4">No Crash Diets</h3>
        <p>Eating balanced meals and snacks, containing all the macronutrients your body needs every few hours is key to energising your body for workouts. </p>
        <a class="text-uppercase" href="/getplans">Read More <i class="bi bi-arrow-right"></i></a></div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="bg-light rounded text-center p-5"><i class="flaticon-bodybuilding display-1 text-primary"></i>
        <h3 class="text-uppercase my-4">Muscle Building</h3>
        <p>The key to building muscle is to increase the rate of protein deposition while minimizing the rate of protein breakdown.</p>
        <a class="text-uppercase" href="/muscleinfo">Read More <i class="bi bi-arrow-right"></i></a></div>
    </div>
    <div class="col-lg-12 col-md-6 text-center">
      <h1 class="text-uppercase text-dark mb-4 active">HURRY UP !! JOIN US TODAY</h1>
      <a href="/getplans" class="btn btn-primary py-3 px-5">Become A Member</a></div>
  </div>

  <div class="row gx-5 mt-5">
    <div class="col-lg-5 mb-5 mb-lg-0" style="min-height:500px;">
      <div class="position-relative h-100"><img src="https://source.unsplash.com/VJ2s0c20qCo" alt="website template image" class="position-absolute w-100 h-100 rounded" style="object-fit:cover;"></div>
    </div>
    <div class="col-lg-7">
      <div class="mb-4">
        
        <h1 class="display-3 text-uppercase mb-0">Welcome to Gymster</h1>
      </div>
      <h4 class="text-body mb-4">With the start of the New Year, many of us have made resolutions to improve our health and fitness. While having specific health and fitness goals in mind is excellent, people often go to extremes to accomplish these goals. They try the newest fad diet or workout trend and often end up exhausting both their mental and physical energy.
      </h4>
      <p class="mb-4">
        </p>
      <div class="rounded bg-dark p-5">
        <ul class="nav nav-pills justify-content-between mb-3">
          <li class="nav-item w-50"><a class="nav-link text-uppercase text-center w-100 active" data-bs-toggle="pill" href="#pills-1">About Us</a></li>
          <li class="nav-item w-50"><a class="nav-link text-uppercase text-center w-100" data-bs-toggle="pill" href="#pills-2">Why Choose Us</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="pills-1">
            <p class="text-secondary mb-0">This usually leads to either quitting altogether or reaching these goals and being unable to maintain them, ultimately resulting in burnout, failure, or injury. Because of this, I propose you ditch the extreme unrealistic goals and aim to change your lifestyle. 
        
              When you start to view health and fitness as a lifestyle rather than a part-time hobby or 30-day challenge, you develop behaviors that will improve many areas of your life.
              
              Living a healthy lifestyle can inspire creativity and teach you discipline, adaptability, and balance.This will not only leave you looking and feeling better, but you will show up as a better version of yourself for the people in your life that truly matter</p>
          </div>
          <div class="tab-pane fade" id="pills-2">
            <p class="text-secondary mb-0">All Diverse Health & Fitness training packages include the sharing of knowledge; when you train with us we will guide you through your fitness journey with expert advice and realistic hints and tips that you can put into practice in your day to day routine. Helping you take control of your lifestyle, learn new exercises, understand how to perform popular exercises correctly, find out why they are beneficial and how making changes will allow you to achieve your goal.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}