{% extends 'base.html' %}

{% block title %}
GetPlans
{% endblock title %}

{% block body %}



<div class="container-fluid p-5">
    <div class="mb-5 text-center">
        <h5 class="text-primary text-uppercase">Class Schedule Gymster</h5>
        <h1 class="display-3 text-uppercase mb-0">Working Hours</h1>
    </div>
    <div class="tab-class text-center">
        <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5">
            <li class="nav-item"><a class="nav-link rounded-pill text-white" data-bs-toggle="pill"
                    href="#tab-1">Monday</a></li>
            <li class="nav-item"><a class="nav-link rounded-pill text-white" data-bs-toggle="pill"
                    href="#tab-2">Tuesday</a></li>
            <li class="nav-item"><a class="nav-link rounded-pill text-white" data-bs-toggle="pill"
                    href="#tab-3">Wednesday</a></li>
            <li class="nav-item"><a class="nav-link rounded-pill text-white" data-bs-toggle="pill"
                    href="#tab-4">Thursday</a></li>
            <li class="nav-item"><a class="nav-link rounded-pill text-white" data-bs-toggle="pill"
                    href="#tab-5">Friday</a></li>
            <li class="nav-item"><a class="nav-link rounded-pill text-white" data-bs-toggle="pill"
                    href="#tab-6">Saturday</a></li>
            <li class="nav-item"><a class="nav-link rounded-pill text-white active" data-bs-toggle="pill"
                    href="#tab-7">Sunday</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-4" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-5" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-6" class="tab-pane fade p-0">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-7" class="tab-pane fade p-0 active show">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00am - 8.00am</h6>
                            <h5 class="text-uppercase text-primary">Power Lifting</h5>
                            <p class="text-uppercase text-secondary mb-0">John Deo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00am - 10.00am</h6>
                            <h5 class="text-uppercase text-primary">Body Building</h5>
                            <p class="text-uppercase text-secondary mb-0">James Taylor</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">10.00am - 12.00pm</h6>
                            <h5 class="text-uppercase text-primary">Cardio Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Jack Sparrow</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">12.00pm - 2.00pm</h6>
                            <h5 class="text-uppercase text-primary">Weight Loose</h5>
                            <p class="text-uppercase text-secondary mb-0">Robert Smith</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">2.00pm - 4.00pm</h6>
                            <h5 class="text-uppercase text-primary">Fitness Program</h5>
                            <p class="text-uppercase text-secondary mb-0">Adam Phillips</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">4.00pm - 6.00pm</h6>
                            <h5 class="text-uppercase text-primary">Crossfit Class</h5>
                            <p class="text-uppercase text-secondary mb-0">James Alien</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">6.00pm - 8.00pm</h6>
                            <h5 class="text-uppercase text-primary">Muscle Building</h5>
                            <p class="text-uppercase text-secondary mb-0">Petter John</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="bg-dark rounded text-center py-5 px-3">
                            <h6 class="text-uppercase text-light mb-3">8.00pm - 10.00pm</h6>
                            <h5 class="text-uppercase text-primary">Yoga Class</h5>
                            <p class="text-uppercase text-secondary mb-0">Jessy Reo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="mb-5 text-center">
      <h5 class="text-primary text-uppercase">Get Diet</h5>
      <h1 class="display-3 text-uppercase mb-0">plans</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-4">
        <div class="blog-item">
          <div class="position-relative overflow-hidden rounded-top"><img class="img-fluid"  src="https://source.unsplash.com/C_wdKVR78XU" alt="website template image" class="position-absolute w-100 h-100 rounded" style="object-fit:cover; width: 500px; height: 400px;"></div>
          <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
            
              <div class="position-relative h-100"><img src="https://source.unsplash.com/random/900×700/?gym" alt="website template image" class="position-absolute w-100 h-100 rounded" style="object-fit:cover; width: 500px; height: 400px;"></div>

            <a class="h5 text-uppercase text-light">Lose Weight
                
                <div class="text-dark" style="background-color: #ffcccc;">
                    <div class="d-flex align-items-center justify-content-between border-bottom border-primary p-4 text-dark">
                      <h1 class="display-4 mb-0"><small class="align-top text-muted font-weight-medium text-dark" style="font-size:22px;line-height:45px;"></small><small class="align-bottom text-muted font-weight-medium" style="font-size:16px;line-height:40px;"></small></h1>
                      <h5 class="text-dark text-uppercase m-0 ">3 Months Transformation</h5>
                    </div>
                    <div class="p-4 text-dark">
                      {% comment %} <p><i class="fa fa-check mr-2"></i> Customized food plans based on your work timings, travel schedule, availability of ingredients, allergies etc.</p> {% endcomment %}
                      <p><i class="fa fa-check text-dark mr-2"></i>Eligible for above 18 years old</p>
                      <p><i class="fa fa-check text-success mr-2"></i> Expected weight loss: 6-8 Kg's</p>
                      <p><i class="fa fa-check text-success mr-2"></i>No. of diets: 6</p>
                      <p><i class="fa fa-check text-success mr-2"></i> Eat out, Menu navigation</p>
                      <a href="/test" class="btn btn-primary my-2">Get Plan</a>
                      
                    </div>
                </div>

            </a></div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-item">
          <div class="position-relative overflow-hidden rounded-top"><img class="img-fluid" src="https://source.unsplash.com/KD3XqquHlcc" alt="website template image" class="position-absolute w-100 h-100 rounded" style="object-fit:cover; width: 500px; height: 400px;"></div>
          <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
            
            <a class="h5 text-uppercase text-light">Gain Weight
                <div class="text-dark" style="background-color: #ffcccc;">
                    <div class="d-flex align-items-center justify-content-between border-bottom border-primary p-4 text-dark">
                      <h1 class="display-4 mb-0"><small class="align-top text-muted font-weight-medium text-dark" style="font-size:22px;line-height:45px;"></small><small class="align-bottom text-muted font-weight-medium" style="font-size:16px;line-height:40px;"></small></h1>
                      <h5 class="text-dark text-uppercase m-0 ">3 Months Transformation</h5>
                    </div>
                    <div class="p-4 text-dark">
                        {% comment %} <p><i class="fa fa-check mr-2"></i> Customized food plans based on your work timings, travel schedule, availability of ingredients, allergies etc.</p> {% endcomment %}
                        <p><i class="fa fa-check text-dark mr-2"></i> Eligible for above 18 years old</p>
                        <p><i class="fa fa-check text-success mr-2"></i> Expected weight Gain: 6-7 Kg's</p>
                        <p><i class="fa fa-check text-success mr-2"></i>No. of diets: 8</p>
                        <p><i class="fa fa-check text-success mr-2"></i> Eat out, Menu navigation</p>
                        <a href="/plans" class="btn btn-primary my-2">Get Plan</a>
                      </div>
                </div>
            </a></div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-item">
          <div class="position-relative overflow-hidden rounded-top"><img class="img-fluid" src="https://source.unsplash.com/l5Mjl9qH8VU" alt="website template image" class="position-absolute w-100 h-100 rounded" style="object-fit:cover; width: 500px; height: 400px;"></div>
          <div class="bg-dark d-flex align-items-center rounded-bottom p-4">
            
            <a class="h5 text-uppercase text-light">Maintain Weight
                <div class="text-dark" style="background-color: #ffcccc;">
                    <div class="d-flex align-items-center justify-content-between border-bottom border-primary p-4 text-dark">
                      <h1 class="display-4 mb-0"><small class="align-top text-muted font-weight-medium text-dark" style="font-size:22px;line-height:45px;"></small><small class="align-bottom text-muted font-weight-medium" style="font-size:16px;line-height:40px;"></small></h1>
                      <h5 class="text-dark text-uppercase m-0 ">3 Months Transformation</h5>
                    </div>
                    <div class="p-4 text-dark">
                        {% comment %} <p><i class="fa fa-check mr-2"></i> Customized food plans based on your work timings, travel schedule, availability of ingredients, allergies etc.</p> {% endcomment %}
                        <p><i class="fa fa-check text-dark mr-2"></i> Eligible for above 18 years old</p>
                        <p><i class="fa fa-check text-success mr-2"></i> No weight loss or Gain</p>
                        <p><i class="fa fa-check text-success mr-2"></i>No. of diets: 6</p>
                        <p><i class="fa fa-check text-success mr-2"></i> Eat out, Menu navigation</p>
                        <a href="/diet" class="btn btn-primary my-2">Get Plan</a>
                      </div>
                </div>
            </a></div>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid bg-dark facts p-5 my-5">
    <div class="row gx-5 gy-4 py-5">
        <div class="col-lg-3 col-md-6">
            <div class="d-flex">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3"
                    style="width:60px;height:60px;"><i class="fa fa-star fs-4 text-white"></i></div>
                <div class="ps-4">
                    <h5 class="text-secondary text-uppercase">Experience</h5>
                    <h1 class="display-5 text-white mb-0" data-toggle="counter-up">2 Year</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="d-flex">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3"
                    style="width:60px;height:60px;"><i class="fa fa-users fs-4 text-white"></i></div>
                <div class="ps-4">
                    <h5 class="text-secondary text-uppercase">Our Trainers</h5>
                    <h1 class="display-5 text-white mb-0" data-toggle="counter-up">5</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="d-flex">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3"
                    style="width:60px;height:60px;"><i class="fa fa-check fs-4 text-white"></i></div>
                <div class="ps-4">
                    <h5 class="text-secondary text-uppercase">Complete Project</h5>
                    <h1 class="display-5 text-white mb-0" data-toggle="counter-up">25</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="d-flex">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3"
                    style="width:60px;height:60px;"><i class="fa fa-mug-hot fs-4 text-white"></i></div>
                <div class="ps-4">
                    <h5 class="text-secondary text-uppercase">Happy Clients</h5>
                    <h1 class="display-5 text-white mb-0" data-toggle="counter-up">20</h1>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}