{% extends 'base.html' %}

{% block title %} 
Muscle_Info
{% endblock title %}

{% block body %}

<div class="row" style="background-color:#c7ecee ; object-fit: cover; ">
  <div class="col-lg-6 offset-lg-3">
    <div class="section-heading">
      <h2>Muscles: Why are they important?</h2>
      <p>Muscles and nerve fibers allow a person to move their body and enable the internal organs to function.</p>
    </div>
  </div>
  <div class="col-lg-6">
    <ul class="features-items">
      <li class="feature-item">
        <div class="left-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVE85pMwzCJfhY81XvcoVXSPnV_3jJYBH-r_ZoPcwRCUreVD-v5sx53TPryeGS3EpVndw&usqp=CAU" alt="website template image" style="width: 70px; height: 70px; border-radius: 25%;"></div>
        <div class="right-content">
          <h4>Skeletal muscles</h4>
          <p>Skeletal muscles move the external parts of the body and the limbs. They cover the bones and give the body its shape.</p>
          <a href="https://www.medicalnewstoday.com/articles/249192#types" class="text-button">Discover More</a></div>
      </li>
      <li class="feature-item">
        <div class="left-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVE85pMwzCJfhY81XvcoVXSPnV_3jJYBH-r_ZoPcwRCUreVD-v5sx53TPryeGS3EpVndw&usqp=CAU" alt="website template image" style="width: 70px; height: 70px; border-radius: 25%;"></div>
        <div class="right-content">
          <h4>Striated muscles</h4>
          <p>Skeletal muscles are striated, which means that they consist of thousands of equally sized sarcomeres, or muscle units, which have transverse bands. </p>
          <a href="https://www.medicalnewstoday.com/articles/249192#types" class="text-button">Discover More</a></div>
      </li>
      <li class="feature-item">
        <div class="left-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVE85pMwzCJfhY81XvcoVXSPnV_3jJYBH-r_ZoPcwRCUreVD-v5sx53TPryeGS3EpVndw&usqp=CAU" alt="website template image" style="width: 70px; height: 70px; border-radius: 25%;"></div>
        <div class="right-content">
          <h4>Smooth muscles</h4>
          <p>Smooth musclesTrusted Source are responsible for movements in the stomach, intestines, blood vessels, and hollow organs. The smooth muscles in the bowel are also called visceral muscles.</p>
          <a href="https://www.medicalnewstoday.com/articles/249192#types" class="text-button">Discover More</a></div>
      </li>
    </ul>
  </div>
  <div class="col-lg-6">
    <ul class="features-items">
      <li class="feature-item">
        <div class="left-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVE85pMwzCJfhY81XvcoVXSPnV_3jJYBH-r_ZoPcwRCUreVD-v5sx53TPryeGS3EpVndw&usqp=CAU" alt="website template image" style="width: 70px; height: 70px; border-radius: 25%;"></div>
        <div class="right-content">
          <h4>Cardiac muscles</h4>
          <p>Cardiac musclesTrusted Source are responsible for the heartbeat and only exist in the heart.</p>
          <a href="https://www.medicalnewstoday.com/articles/249192#types" class="text-button">Discover More</a></div>
      </li>
      <li class="feature-item">
        <div class="left-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVE85pMwzCJfhY81XvcoVXSPnV_3jJYBH-r_ZoPcwRCUreVD-v5sx53TPryeGS3EpVndw&usqp=CAU" alt="website template image" style="width: 70px; height: 70px; border-radius: 25%;"></div>
        <div class="right-content">
          <h4>Aerobic exercise</h4>
          <p>Aerobic exercise sessions are typically of long duration and require medium-to-low levels of exertion. This type of exercise requires the body to use the muscles at well below their maximum strength capacity. A marathon is an example of an aerobic activity with a very long duration.</p>
          <a href="https://www.medicalnewstoday.com/articles/249192#types"  class="text-button">Discover More</a></div>
      </li>
      <li class="feature-item">
        <div class="left-icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVE85pMwzCJfhY81XvcoVXSPnV_3jJYBH-r_ZoPcwRCUreVD-v5sx53TPryeGS3EpVndw&usqp=CAU" alt="website template image" style="width: 70px; height: 70px; border-radius: 25%;"></div>
        <div class="right-content">
          <h4>Anaerobic exercise</h4>
          <p>A single anaerobic activity lasts from a few seconds to a maximum of 2 minutes. Examples include weightlifting, sprinting, climbing, and jumping rope.</p>
          <a href="https://www.medicalnewstoday.com/articles/249192#types" class="text-button">Discover More</a></div>
      </li>
    </ul>
  </div>
</div>

<div class="row mt-5 " >
  <div class="col-md-6">
    <div class="about_taital ms-3 bg-dark " style="height: 500px;">
      <h1 class="about_text text-light text-center">Basic facts about muscles</h1>
      <p class="long_text_2 text-light font-size-lg mt-5 p-5">Did you know you have more than 600 muscles in your body? These muscles help you move, lift things, pump blood through your body, and even help you breathe.
      When you think about your muscles, you probably think most about the ones you can control. These are your voluntary (VOL-uhn-ter-ee) muscles, which means you can control their movements. They are also called skeletal (SKEL-i-tl) muscles, because they attach to your bones and work together with your bones to help you walk, run, play an instrument, or cook a meal. The muscles of your mouth and throat even help you talk!
      Keeping your muscles healthy will help you to be able to walk, run, jump, lift things, play sports, and do all the other things you love to do. Exercising, getting enough rest, and eating a balanced diet will help to keep your muscles healthy for life.</p>
      <div class="about_bt text-center"><a href="https://www.niams.nih.gov/health-topics/kids/healthy-muscles">ABOUT MORE</a></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="about_img"><img src="https://source.unsplash.com/0HlI76m4jxU" alt="website template image" style="height: 500px; width: 100%;"></div>
  </div>
</div>

{% endblock body %}
