 {% extends 'base.html' %}

{% block title %}
Plans
{% endblock title %}

{% block body %}
<Body background="https://source.unsplash.com/Ww8eQWjMJWk" style="background-position: center;
background-repeat: no-repeat;
background-size: cover;"

>   

<h4>EARLY MORNING</h4>
<p>1 fruit of your choice + 3-4 mixed seeds such as watermelon, flax, sesame, melon to name a few
</p>

<h4>BREAKFAST</h4>
<p>Open paneer sandwich with mint chutney / 2 idlis with sambhar / Akki roti with dill leaves and sambhar / 2 egg omelet with 2 whole grain bread slices / 2 multigrain mixed vegetable parathas + 1 glass of vegetable juice of your choice.</p>

<h4>PRE-LUNCH</h4>
<p>1 plate of preferred salad with vinegar dressing. Recipe suggestion from blog
    <p/>

<h4>LUNCH</h4>
<p>2 multigrain roti + 1 bowl vegetable subji / non-veg subji + 1 bowl boiled pulse chaat (rajma, chana, black chana, green moong etc) / 1 bowl red or brown rice + 1 bowl mixed vegetable subji + 1 vegetable egg omlette. </p>

<h4>PREWORKOUT SNACK</h4>
<p>1 scoop whey protein (mix in water)
1 large apple</p>

<h4>POSTWORKOUT SNACK</h4>
<p>2 scoops whey protein + 1 scoop casein protein (mix in water)
1 medium plain bagel + 2 Tbsp. jelly</p>

<h4>DINNER</h4>
<p>1 bowl vegetable brown rice basmati chicken biryani/ vegetable pulao + 1 bowl vegetable raita + 1 bowl vegetable or chicken salad of choice / 1 bowl steamed red rice + 1 bowl mixed vegetable sambhar + 1 bowl non-veg / vegetable subji + 1 bowl salad of choice / 2 multigrain roti + 1 bowl mixed spiced dals / fish curry + 1 bowl curd.</p>

<h4>NIGHT TIME SNACK</h4>
<p>A glass of warm milk.</p>

</body>


{% endblock body %}
 
