{% extends 'base.html' %}

{% block title %}
Plans
{% endblock title %}

{% block body %}

<Body background="https://source.unsplash.com/Ww8eQWjMJWk" style="background-position: center;
background-repeat: no-repeat;
background-size: cover;"> 

<h4>BREAKFAST</h4>
<p>2 medium dal paranthas (made from leftover dal if any) + 1 bowl low-fat curd / 2 Ragi veggies paddus with peanut chutney / <p>2 small and fluffy vegetable pancakes / 2 paranthas +1 bowl vegetables raita /</p> Paneer and vegetable rice bath (from <p>leftover rice)+1 bowl curd / 2 idlis with sambhar</p>

<h4>MORNING SNACK</h4>
<p><p>Amaranth seeds chikki / 3-4 dry fruits / 1 bowl cut fresh fruits of choice</p></p>

<h4>LUNCH</h4>
<p>1 bowl millet and dal khichdi + 1 bowl mixed vegetable kadhai / 2 multigrain roti + 1 bowl non-veg subji or egg bhurji +1 glass of spiced buttermilk / 2 vegetable millet uttapams + 1 bowl sambhar.</p>

<h4>PREWORKOUT SNACK</h4>
<p><p>1 cup of coffee (mix in water)
1 large apple</p></p>

<h4>POSTWORKOUT SNACK</h4>
<p>2 scoops whey protein + 1 scoop casein protein (mix in water)
1 medium plain bagel </p>

<h4>DINNER</h4>
<p>1 bowl vegetable and mixed seeds salad + 2 multigrain roti + 1 non-veg subji or dal of your choice/ </P> 1 bowl red or <p>brown rice + 1 bowl mix veg sambhar + 1 egg bhurji.</p>


</body>

{% endblock body %}


        